// .search {
//   position: sticky;
//   border-radius: 15px;
//   align-items: center;
//   background-color: var(--primary-col);
//   // height: max-content;
//   color: var(--light-col);
//   transition: height 400ms;
//   z-index: 1;
//   .search-bar,
//   .search-suggestions {
//     width: 300px;
//   }
//   .search-suggestions {
//     padding: 20px;
//     li {
//       transition: all 4000ms;
//     }
//   }
//   .search-bar {
//     background-color: var(--secondary-col);
//     border: 2px #111 solid;
//     height: 44px;
//     // height: 4rem;
//     border-radius: 15px;
//     display: flex;
//     flex-direction: row;
//     width: 100%;

//     input {
//       all: unset;
//       font: 16px system-ui;
//       // height: 100%;
//       width: 100%;
//       padding: 6px 10px;
//       &::placeholder {
//         color: #fff;
//         opacity: 0.7;
//       }
//     }
//     button {
//       all: unset;
//       cursor: pointer;
//       width: 44px;
//       height: 44px;
//       #search-icon {
//         color: #fff;
//         fill: currentColor;
//         width: 24px;

//         // padding: 10px;
//       }
//     }
//     &:has(input:focus) {
//       box-shadow: 1px 1px 20px 7px rgba(100, 100, 100, 0.68);
//       // background-color: red;
//     }
//   }
// }
// .search-open {
//   margin: 1rem;
// }
// .search-closed {
//   margin-left: 2rem;
// }
.searchBar {
  // background-color: red;
  border-radius: 20px;
  height: 3rem;
  margin: auto auto auto 3rem;
  color: var(--light-col);

  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    height: 100%;
  }
  form {
    height: 100%;
  }
  #myInput,
  .icon {
    border: 1px solid transparent;
    background-color: var(--secondary-col);
    padding: 10px;
    font-size: 16px;
  }
  input {
    background-color: var(--secondary-col);
    border-radius: 20px 0 0 20px;
    width: 100%;
  }
  a.icon {
    background-color: var(--triary-col);
    cursor: pointer;
    height: 3rem;
    padding: 0.75rem;
    border-radius: 0 20px 20px 0;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid var(--primary-col);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete {
    z-index: 2;
    .suggestion {
      margin-top: 0.25rem;
      border-radius: 20px;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid var(--primary-col);
      background-color: var(--secondary-col);
    }
  }
  .autocomplete .suggestion:hover {
    /*when hovering an item:*/
    background-color: var(--primary-col);
  }
  // .autocomplete {
  //   /*when navigating through the items using the arrow keys:*/
  //   background-color: DodgerBlue !important;
  // }
  .bar {
    display: flex;
    border: 1px solid var(--light-col);
    border-radius: 20px;
    input {
      height: 3rem;
    }
  }
}
