#PackagesPage {
  section {
    h1 {
      font-size: 30px;
      //   text-align: center;
      margin-bottom: 1rem;
    }
    width: 90rem;
    margin: 3rem auto 3rem auto;
    // background-color: red;
    &#packages {
      background-color: var(--triary-col);
      padding: 2rem;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 1rem;
      max-width: 55rem;
      .package {
        padding: 3rem;
        background-color: var(--primary-col);
        border-radius: 20px;
        color: var(--light-col);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1.5rem;

        button {
          padding: 1rem;
          border-radius: 20px;
          border: 2px solid var(--secondary-col);
          background-color: var(--primary-col);
          background-color: var(--secondary-col);
          //   &:hover {
          //     cursor: help;
          //   }
        }
        h2 {
          font-size: 28px;
          font-weight: 600;
        }
        .price {
          font-size: 20px;
        }
        @media screen and (max-width: 550px) {
          width: 90vw;
        }
      }
    }
    @media screen and (max-width: 1500px) {
      width: 95vw;
    }
  }
}
