#Footer {
  min-height: calc(20rem + 5px);
  //   height: min-content;
  background-color: var(--secondary-col);
  padding: 1rem;
  border-top: 5px solid var(--primary-col);
  display: flex;
  flex-wrap: nowrap;
  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;

    #title {
      margin-top: 3rem;
    }
  }
  img {
    width: 18rem;
  }
  #title {
    margin-left: 3rem;
    color: var(--light-col);
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
      color: #dcd7c9c2;
    }
    p {
      margin-top: 1rem;
      width: max-content;
    }
  }
  #navigation {
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
      justify-content: center;
      width: 100%;
      margin-left: 0;
      margin-top: 3rem;
    }
    .nav {
      width: 16rem;
      height: fit-content;
      margin-top: 1rem;

      border: #a27b5c 2px solid;
      background-color: #a27b5c21;
      color: var(--light-col);
      &:hover {
        background-color: #a27b5c;
      }
      padding: 1rem;
      border-radius: 20px;
      text-align: center;

      @media screen and (max-width: 1100px) {
        width: 100%;
        max-width: 25rem;
        @media screen and (min-width: 830px) {
          margin-left: 1rem;
        }
      }
    }
  }
}
